## Function
### Functions are used for reusability of logics 
### to avoid repetitions

In [20]:
l=["c"]
for i in l:
    print(f"hello {i} ,welcome to this party, have the dinner and dance with drinking")

hello c ,welcome to this party, have the dinner and dance with drinking

In [24]:
def greet(name):
    print(f"Hello, {name}, welcome to this party.enjoy it")

In [23]:
greet("alex")

Hello, alex, welcome to this party.enjoy it

In [37]:
def add(a,b):
    return a+b

In [40]:
x=add(4,5)

In [41]:
x

9

In [ ]:
## 1. without parameter
def greet():
    print("hello, welcome to this channel")

In [2]:
greet()

hello, welcome to this channel

In [ ]:
## 2.  with single parameter
def greet1(name):
    print(f"hello {name} , welcome to my channel")

In [4]:
greet1("ankit")
greet1("aman")
greet1("raj")

hello ankit , welcome to my channel
hello aman , welcome to my channel
hello raj , welcome to my channel

In [ ]:
## 3. with dual parameter
def add(a,b):
    print(a+b)
x=add(3,4)

7

In [12]:
def add(a,b):
    return a+b
z=add(3,4)

In [15]:
x

In [13]:
z

7

In [ ]:
## 4. with default name='donald' parameter
def greet3(name="thiomas"):
    pass
def greet3(name="alex"):
    print(f"hello {name}, i am delighted to welcome you")

In [50]:
greet3()

hello alex, i am delighted to welcome you

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
def math_operation(a,b):
    return a+b,a-b,a*b,a/b
add,subtract,multiply,divide=math_operation(a,b)

In [ ]:
add

14

In [ ]:
subtract

-4

In [ ]:
multiply

45

In [ ]:
divide

0.5555555555555556

In [ ]:
## nested function
def outer():
    print("i am at outer ring")
    def inner():
        print("i am inside the inner circle")
    inner() 
outer()

i am at outer ring
i am inside the inner circle

In [ ]:
## higehr order function
def greet():
    return "hello , you'r welcome"
def xyz():
    return "good evening"
def abc():
    return "have a nice day"
def call_function(func):
    print(func())

call_function(xyz)

good evening

In [ ]:
## *args()
def pqr(a,*b,**c):
    print(f"value of a is {a},and value of b is {b} , and c is {c}")
pqr(2,5,8,name="ankit")

value of a is 2,and value of b is (5, 8) , and c is {'name': 'ankit'}

In [ ]:
## **kwargs
def xyz(*a,**b):
    print(f"value of a is {a},and b is {b}")
xyz(4,5,6,7,name="alex",age=45,profession="sde")

value of a is (4, 5, 6, 7),and b is {'name': 'alex', 'age': 45, 'profession': 'sde'}

In [ ]:
a=lambda x:x**2
a(5)

25

In [ ]:
b=lambda x,y:x**2+y*3
b(4,5)

31

In [ ]:
l1=[4,5,6,7,8]

list(map(lambda i:i*5,l1))

[20, 25, 30, 35, 40]

In [ ]:
l4=[]
for i in l1:
    a=i*5
    l4.append(a)
print(l4)

[20, 25, 30, 35, 40]

In [ ]:
## map
## map(function,container)
def multiply(x):
    return x*5
l2=[5,6,8,9,3]

In [ ]:
list(map(multiply,l2))

[25, 30, 40, 45, 15]

In [ ]:
def greet():
    print("hello")
a=greet()

hello

In [ ]:
a

In [10]:
l5=[3,4,5,6,9,7,4,0,2]
output=0
for i in l5:
    output=output+i
print(output)

40

In [12]:
from functools import reduce

In [13]:
## reduce(function,container)

In [14]:
l5

[3, 4, 5, 6, 9, 7, 4, 0, 2]

In [ ]:
reduce(lambda x,y:x+y,l5)

40

In [ ]:
l5=[3,4,5,6,9,7,4,0,2]
l6=[]
for i in l5:
    if i>5:
        l6.append(i)
print(l6)

[6, 9, 7]

In [16]:
x=[i for i in l5 if i>5]
print(x)

[6, 9, 7]

In [ ]:
## filter(function,container)
list(filter(lambda i:i>5,l5))

[6, 9, 7]

In [ ]:
l6=[5,6,7,9,5]

## local scope and global scope

In [20]:
x=5
def show():
    print(x)
print(x)
show()

5
5

In [ ]:
x=5 ## global
def show():
    x=9 ## local 
    print(x)
print(x)
show()

5
9

In [23]:
x=5
def show():
    y=9
    print(x)
    print(y)
print(x)
print(y)
show()

## 5,5,9
## 5,9,
## error
## error with output ->5,error,5,9

5
None
5
9

In [27]:
x=5
def show():
    global y
    y=9
    print(x)
    print(y)
print(x)
print(y)
show()

5
9
5
9

In [53]:
def num_sum(func, l):
    """Sums elements in a list that satisfy a given function (predicate)."""
    result = 0
    for i in l:
        if func(i):
            result = result + i
    return result

def is_even(n):
    """Checks if a single number is even."""
    return n % 2 == 0

l5 = [5, 6, 7, 8, 9, 24, 68]

# Call num_sum with the correct predicate function 'is_even' and the list 'l5'
total = num_sum(is_even, l5)
print(total)

106