## TUPLES
### ordered
### immutable, once created the tuple later can't be modified
### duplicates allowed

### 1. CREATE
### 2. ACCESS
### 3. EDIT
### 4. ADD
### 5. REMOVE
### 6. OPERATIONS
### 7. FUNCTIONS

## 1. CREATE

In [3]:
t1=(2,3,4,5)
t1

(2, 3, 4, 5)

In [4]:
t2=(2,3,(5,6),8)
t2

(2, 3, (5, 6), 8)

In [6]:
t3=((2,3),(4,5),(6,8))
t3

((2, 3), (4, 5), (6, 8))

## 2. ACCESS

In [7]:
t4=(5,6,7,8,9)

In [12]:
t4[3]

8

In [14]:
t4[2:5]

(7, 8, 9)

In [17]:
t4[-1]

9

In [18]:
t4[::-1]

(9, 8, 7, 6, 5)

## 3. EDIT

In [16]:
t4[2]=89

TypeError: 'tuple' object does not support item assignment

In [31]:
l4=list(t4)
l4[2]=50
l4
tuple(l4)

(5, 6, 50, 8, 9)

## 4. ADD

In [35]:
t5=(5,6,7,8)
t6=(9,0,3,4)
t5+t6

(5, 6, 7, 8, 9, 0, 3, 4)

In [36]:
t5*3

(5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8)

In [37]:
6 in t5

True

## 5. DELETE

In [38]:
t5.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [39]:
t5.remove()

AttributeError: 'tuple' object has no attribute 'remove'

In [40]:
t5.clear()

AttributeError: 'tuple' object has no attribute 'clear'

### 6. OPERATIONS

In [27]:
t5=(4,56,89,4,5,4,98,4)
t6=(4,)

In [28]:
t5+t6

(4, 56, 89, 4, 5, 4, 98, 4, 4)

In [29]:
t5*2

(4, 56, 89, 4, 5, 4, 98, 4, 4, 56, 89, 4, 5, 4, 98, 4)

## 7. FUNCTIONS

In [30]:
min(t5)

4

In [31]:
max(t5)

98

In [32]:
len(t5)

8

In [33]:
sorted(t5)

[4, 4, 4, 4, 5, 56, 89, 98]

In [34]:
sorted(t5,reverse=True)

[98, 89, 56, 5, 4, 4, 4, 4]

In [35]:
t5

(4, 56, 89, 4, 5, 4, 98, 4)

In [36]:
t5.count(4)

4