## ** for loop **

In [1]:
## range function
## range(start_value,stop_value,step_value)

In [5]:
a=list(range(1,10))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
b=list(range(10,15))
b

[10, 11, 12, 13, 14]

In [ ]:
c=list(range(10))
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
d=list(range(1,10,2))
d

[1, 3, 5, 7, 9]

In [17]:
e=list(range(15,50,5))
e

[15, 20, 25, 30, 35, 40, 45]

In [26]:
## reverse
## range(start_value,end_value,-1), start_value>end_value
f=list(range(10,1,-1))
f

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [26]:
l1=[3,4,5,6,7,8]
print(len(l1))
for i in range(len(l1)):  # range(6) ->[0,1,2,3,4,5]
    print(l1[i])

6
3
4
5
6
7
8

In [9]:
for i in range(10,15):
    print(i)

10
11
12
13
14

In [37]:
for i in range(10,15):
    print(i)

10
11
12
13
14

In [41]:
for i in range(15,10,-1):
    print(i)

15
14
13
12
11

## FOR LOOP ON Containers (list, tuple, set, dictionary)

In [4]:
l1=[2,3,4,5,6,7,8,9]
for i in l1:
    print(i)

2
3
4
5
6
7
8
9

In [ ]:
for i in range(len(l1)):
    print(l1[i])

2
3
4
5
6
7
8
9

In [2]:
l2=[3,4,5,6,9]
for i,v in enumerate(l2):
    print(i,"-",v)

0 - 3
1 - 4
2 - 5
3 - 6
4 - 9

In [6]:
print("*"*3)

***

In [14]:
## 1 .print like following
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * * * *

for i in range(1,7):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
print("*"*1)
print("*"*2)
print("*"*3)
print("*"*4)
print("*"*5)
print("*"*6)

# or put following i loop with i generating from for loop 
print("*"*i)

*
**
***
****
*****
******

In [20]:
num=int(input("enter a number:"))
for i in range(1,num+1):
    print("*"*i)

*
**
***
****
*****
******
*******
********

In [49]:
num=int(input("enter a number:"))
for i in range(1,num+1):
    for j in range(0,i):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *

In [42]:
for i in range(5): # 0,1,2,3,4
    for j in range(5): #0,1,2,3,4
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [44]:
l=[4,5,6,7]  #o=[16,25,36,49]
o=[]
for i in l:
    o.append(i*i)
print(o)

[16, 25, 36, 49]

In [29]:
## sow squared number of each elements in a list
## i.e l1=[3,4,5,6]  -> o/p-> [9,16,25,36]

In [36]:
l1=[3,4,5,6]
l2=[]
for i in l1:
    l2.append(i*i)
print(l2)

[9, 16, 25, 36]

In [ ]:
## print following
#   1
#  121
# 12321
#1234321

In [77]:
num=int(input("enter a number:"))
for i in range(1,num+1):
    print(" "*(num-i),end="")
    for j in range(1,i):
        print(j,end='')
    for k in range(i-1,1,-1):
        print(k-1,end='')
    print()

   1
  121
 12321
1234321

In [ ]:
num=int(input("enter a number:"))
for i in range(1,num+1):
    for j in range(1,i):
        print(j,end='')
    for k in range(i-1,1,-1):
        print(k-1,end='')
    print()